#header {
  background-image: url("../img/sky-space-dark-galaxy.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  min-width: 2in;
  min-height: 4in;
  font-size: 1em;

},
